{% extends 'base.html'%}
<!-- {% load bootstrap4 %} {% load staticfiles %} -->

​{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="col-md-6">
        <form action="/" method="POST" class='form-group'>
          <div class="form-group">

            {%csrf_token%}

            {{form }}

            <input type="submit" class="btn btn-success btn-lg" value="submit">

          </div>
        </form>

        <!-- <div class="col-6 col-md-6">
      <form action="{%url 'welcome'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {{form }}
        
        <input type="submit" class="btn btn-success btn-lg" value="submit">
      </form> -->
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
</div>
{% endblock%}